<?xml version="1.0"?>
<!--
  Usage:
    tm5-900_driver.launch robot_ip:=<value>
-->
<launch>

  <arg name="sim" default="false" />

  <arg name="robot_ip" unless="$(arg sim)" />

  <arg name="ns" default="" />

  <arg name="prefix" default="" />

  <arg name="max_payload" default="4.0" />

  <arg name="load_controller" default="true" />

  <arg name="load_description" default="false" />

  <!-- Load robot model and start robot state publisher -->
  <group if="$(arg load_description)">
    <include file="$(find tmr_description)/launch/tmr_description_upload.launch">
      <arg name="model" value="tm5-900" />
      <arg name="ns" value="$(arg ns)" />
      <arg name="prefix" value="$(arg prefix)" />
    </include>
  </group>

  <!-- Load tmr_driver -->
  <include file="$(find tmr_driver)/launch/tmr_driver.launch">

    <arg name="sim" value="$(arg sim)" />

    <arg name="robot_ip" value="$(arg robot_ip)" unless="$(arg sim)" />

    <arg name="ns" value="$(arg ns)" />

    <arg name="prefix" value="$(arg prefix)" />

    <arg name="max_payload" value="$(arg max_payload)" />

  </include>

  <!-- Load controller -->

  <group if="$(arg load_controller)">
    <!-- Load controller settings -->
    <rosparam file="$(find tmr_driver)/config/tm5_controllers.yaml" command="load" ns ="$(arg ns)/" />

    <!-- spawn controller manager -->
    <node name="ros_control_controller_spawner" pkg="controller_manager" type="spawner" ns ="$(arg ns)/" respawn="false"
      output="screen" args="joint_group_pos_controller" />

    <!-- load other controller --> 
    <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" ns ="$(arg ns)/" respawn="false"
      output="screen" args="load joint_group_vel_controller" /> 
  </group>

</launch>
