<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gripper" >
  <xacro:macro name="on_robot_rg2" params="prefix">

  <link name="${prefix}rg2_gcp">
    <visual>
      <geometry>
        <mesh filename="package://tmr_description/meshes/gripper/rg2/dae_rg2_.dae" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0.009 -0.146" rpy="0 0 0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://tmr_description/meshes/gripper/rg2/rg2_.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin xyz="0 0.009 -0.146" rpy="0 0 0"/>
    </collision>
  </link>
  <joint name="${prefix}gcp_fixed_joint" type="fixed">
    <parent link="${prefix}flange"/>
    <child link="${prefix}rg2_gcp"/>
    <origin xyz="0 0 0.196" rpy="0 0 0"/>
  </joint>

  </xacro:macro>
</robot>
