<?xml version="1.0"?>
<launch>
  <arg name="ns" default="" />
  <arg name="prefix" default="" />

  <arg name="model" />

  <arg name="gripper" default="none" />
  <arg name="mobile" default="none" />

  <arg name="color" default="none" />

  <arg name="use_gui" default="true" />

  <include file="$(find tmr_description)/launch/tmr_description_upload.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="prefix" value="$(arg prefix)" />
    <arg name="gripper" value="$(arg gripper)" />
    <arg name="mobile" value="$(arg mobile)" />
    <arg name='color' value="$(arg color)" />
  </include>

  <!-- TODO: has ns ? remap? -->

  <group unless="$(arg use_gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ns="$(arg ns)/" />
  </group>
  <group if="$(arg use_gui)">
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" ns="$(arg ns)/" />
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg ns)/" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tmr_description)/launch/view.rviz" required="true" ns="$(arg ns)/" />

</launch>
